// rem

html{
    font-size: 62.5%;
}


body{
   background-color: $pale-pink;
   font-family: Arial, Helvetica, sans-serif;
   font-size: $m-size;
  
}

.mainPicture{
    width: 40rem;
    height: 50rem;
    margin-left: 30rem;
    margin-top: 10rem;
}

