//colors
$off-black: black;
$off-white:#a5afd7;
$dark-blue:#333745;
$purple: #8357c5;
$blue:#3c4251;
$light-blue:#464b5e;
$pale-pink:pink;
$light-pink:rgb(241, 210, 215);
$pale-orange:rgb(255, 184, 97);
$base:#d99ec9 74%;

//spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;

$deskop-breakpoint: 45rem; 
