 .diploma {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    //flex-wrap: wrap
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: $m-size;
 }

  .diplomas{
    font-weight: 600;
    margin-top:$s-size;
    text-align: center;
    font-size:130% ;
  }
  .diploma:hover {
    opacity: 0.7;
}
  img{
    margin-top:$s-size
  }
.about{
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-top: $l-size;
 
}
.description{
  display: flex;
  color: black;
  flex-direction: row-reverse;
  justify-content:space-around;

  
}

.aboutOlga{
 height:fit-content;
 width: 40rem;
 word-wrap: break-word;
 max-width: 30rem;

}

.title{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 30rem;
}

h1{
  text-align: center;
}

//.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg:hover {
//opacity: 1;
//filter:sepia()
//}



//.__react_modal_image__modal_content:hover {
    
    //filter: sepia();
  
    //background-color: black;
//}