 .diploma {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: auto;
    margin-right: $s-size;
    margin-top: $xl-size;
  
   
   }
  
  .diploma:hover {
    opacity: 0.7;
}
  
.about{
  display:flex;
  flex-direction: column;
  width: 100%;
  
 
}
.description{
  display: flex;
  color: white;
  flex-direction: row-reverse;
  justify-content:space-around;

  
}

.aboutOlga{
 height: 400px;
 width: 40rem;
 word-wrap: break-word;
 max-width: 30rem;

}

.title{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 30rem;
}

h1{
  text-align: center;
}
