

.header {
background:$base;
display: flex;
 flex-direction: row;
 justify-content: flex-end;
 padding: $s-size;
 width: 100%;
}

.navLink{
  padding: $s-size;
  color:white;
}

.navLink:hover{
  color:$dark-blue;
}

//BEM block element modifier

.header__subtitle {
    color: $off-white;
    font-size:$m-size;
    font-weight: 500;
    margin: 0;
}

.nav{
  display:flex;
  justify-content: flex-start;
  //margin-right: 30px;
  flex-direction: column;
  background-color: $pale-pink;
}


.mainPicture{
  width: min-content;
  height:max-content;
  border-radius: $s-size;
  margin-top: rem;
}

.picLogo{
  display: flex;
  flex-direction: column;
  //justify-content:flex-start;
}

.logo{
  // width: $s-size;
  // height: $s-size;
   margin-top: $m-size;
   margin-left:15rem;
}
.whatsapp{
  margin-top: -6rem;
  margin-left: 8rem;
}


// @media (min-width:$deskop-breakpoint){
//   .header{
//     margin-top:300px;
//   }
// }